<!doctype html>
<title>{% block title %}{% endblock %} - Blogg</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
	<h1>
		<a href="{{url_for('index')}}">Blogg</a> 
	</h1>
	<u1>
		{% if g.user %}
			<li><span>{{g.user["brukernavn"]}}</span></li>
			<li><a href="{{url_for('auth.logout')}}">Logg ut</a></li>
			{% if g.user["er_admin"] == 1 %}
				<li><a href="{{url_for('auth.administrator')}}">Admin</a></li>
			{% endif %}
		{% else %}
			<li><a href="{{url_for('auth.register')}}">Ny bruker</a></li>
			<li><a href="{{url_for('auth.login')}}">Logg inn</a></li>
		{% endif %}
	</u1>
</nav>
<section class="content">
	<header>
		{% block header %}{% endblock %}
	</header>
	{% for message in get_flashed_messages() %}
		<div class="flash">{{ message }}</div>
	{% endfor %}
	{% block content %}{% endblock %}
</section>